<!DOCTYPE html>
{% load staticfiles %}
<html lang="si">
<head>
    <title>Goska</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/chosen/chosen.css' %}" rel="stylesheet">
    <link href="{% static 'main/chosen/chosen-bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/jquery.jqplot.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container theme-showcase">

    <div class="jumbotron">
        <h1 >GOSKA</h1><br/>

        <p>Te zanima, v kako raznoliki državi živiš? Si se kdaj spraševal, v čem se tvoje domače okolje razlikuje od
            drugih delov Slovenije?
            Izberi dve občini in začni raziskovati!</p>


    </div>

    <div class="row">
        <div class="col-md-12">
            <img src="{% static 'main/img/obcine.jpg' %}" class="img-responsive center-block" id="prj"
                 alt="Razdelitev Slovenije na občine">
        </div>
    </div>

    <div class="row spacer50">
        <div class="col-md-12 text-center">
            <form class="form-inline center-block" role="form">
                <div class="form-group">
                    <select id="select-1" data-placeholder="Občina I" style="width:200px;"
                            class="form-control chosen-select">
                        <option value=""></option>
                        {% for obcina in obcine %}
                            <option value="{{ obcina.id }}">{{ obcina.ime }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select id="select-2" data-placeholder="Občina II" style="width:200px;"
                            class="form-control chosen-select">
                        <option value=""></option>
                        {% for obcina in obcine %}
                            <option value="{{ obcina.id }}">{{ obcina.ime }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button id=btnsum type="button" class="btn btn-warning" data-loading-text="Računam..."
                        style="width: 100px;">Primerjaj
                </button>
            </form>
        </div>
    </div>

    <div class="row spacer50">
        <div class="col-md-12 text-center">
            <div class="radio-inline">
              <label>
                <input type="radio" name="optionsRadios" id="optionsOsnovni" value="osnovni">
                Osnovni pogled
              </label>
            </div>
            <div class="radio-inline">
              <label>
                <input type="radio" name="optionsRadios" id="optionsNapredni" value="napredni" checked>
                 Pogled po sklopih
              </label>
            </div>
        </div>
    </div>

    <div class="panel-group spacer50" id="accordion" >
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a id="sum" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    </a>
                </h4>
            </div>
            <div id="opis" class="panel-body"></div>
            <div id="legenda"></div>
        </div>

        <div id="panelOsnovni" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Kazalniki
                </h4>
            </div>
            <div id="kazalniki" class="panel-body"></div>
        </div>

        <div id="panelSklopi" class="panel panel-default" >
            <div class="panel-heading">
                <h4 class="panel-title">
                    Kazalniki po sklopih
                </h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <select id="sklop-1" data-placeholder="Izberi sklop" class="form-control chosen-select" style="width:100%;">
                            <option value=""></option>
                            {% for sklop in sklopi %}
                                <option value="{{ sklop.id }}">{{ sklop.ime }}</option>
                            {% endfor %}
                        </select>
                        <div id="grafi-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer" style="margin-top: 100px;">
        <div id="wrap">
            <div id="main" class="container clear-top">
                <p> Jasmina Kregar / 2013 </p>
            </div>
        </div>
    </footer>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'main/js/jquery.js' %}"></script>
<script src="{% static 'main/chosen/chosen.jquery.js' %}"></script>
<!-- Include jqPlot JavaScripts -->
<script src="{% static 'main/js/jquery.jqplot.min.js' %}"></script>
<script src="{% static 'main/js/jqplot.barRenderer.min.js' %}"></script>
<script src="{% static 'main/js/jqplot.categoryAxisRenderer.min.js' %}"></script>
<script src="{% static 'main/js/jqplot.pointLabels.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/d3.v3.min.js' %}"></script>
<script src="{% static 'main/js/radar-chart.js' %}"></script>
<script src="{% static 'main/js/bullet.js' %}"></script>
<script src="{% static 'main/js/main.js' %}"></script>
</body>
</html>
